@tailwind base;
@tailwind components;
@tailwind utilities;
 /* inter-300 - latin */
 @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local(""), url("fonts/inter-v12-latin-300.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("fonts/inter-v12-latin-300.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* inter-400 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(""),
      url("fonts/inter-v12-latin-regular.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("fonts/inter-v12-latin-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local(""), url("fonts/inter-v12-latin-500.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("fonts/inter-v12-latin-500.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(""), url("fonts/inter-v12-latin-700.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("fonts/inter-v12-latin-700.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
body {
    background-color: rgb(17, 17, 17);
    color: white;
    margin-top: 0;
  }
  #cool {
    opacity: 0;
    animation: fade-in 2s ease-in forwards;
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
    }
  }

#in-right {
  color: #fff;
  animation: fadeInRight 3s ease-in-out;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
  }
}
#in-left2 {
  color: #fff;
  animation: fadeInleft 3s ease-in-out;
}

@keyframes fadeInleft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
  }
}
  